<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-devise">
        <h2>S'inscrire</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <!-- Toggle button Propriétaire / Locataire -->
            <!-- <div class="form-group boolean optional user_is_landlord">
              <div class="checkbox">
                <label class="boolean optional btn btn-toggle btn-toggle-active" for="user_is_landlord">Propriétaire</label>
                <label class="boolean optional btn btn-toggle" for="user_is_landlord">Locataire</label>
                <input class="boolean optional hidden" type="checkbox" value="1" name="user[is_landlord]" id="user_is_landlord">
              </div>
            </div> -->

            <%= f.input :is_landlord %>
            <%= f.input :email, placeholder:"dupont@gmail.com", required: true, autofocus: true %>
            <%= f.input :password, label: "Mot de passe",  placeholder:"********", required: true, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length) %>
            <%= f.input :password_confirmation, label: "Confirmation du mot de passe",  placeholder:"********", required: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "S'inscrire", class:"btn btn-red" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      $(".btn-toggle-active").click(function(){
        $(".btn-toggle").toggleClass("btn-toggle-active");
        $(this).toggleClass("btn-toggle-active");
        if ($(".btn-toggle-active").text() == "Propriétaire") {
          document.getElementById('user_is_landlord').value = 1;
        } else if ($(".btn-toggle-active").text() == "Locataire") {
          document.getElementById('user_is_landlord').value = 0;
        }
      });

      $(".btn-toggle").click(function(){
        $(".btn-toggle-active").toggleClass("btn-toggle-active");
        $(this).toggleClass("btn-toggle-active");
        if ($(".btn-toggle-active").text() == "Propriétaire") {
          document.getElementById('user_is_landlord').value = 1;
        } else if ($(".btn-toggle-active").text() == "Locataire") {
          document.getElementById('user_is_landlord').value = 0;
        }
      });
    });
  </script>
<% end %>
