<div class="modal fade bs-example-modal-lg" id="modal-slot-<%= slot.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>

      <div class="modal-body">
        <%= image_tag set_user_photo(slot.tenant), class: "card-slot-user avatar-large" %>
        <%= slot.tenant.first_name %>
        <%= slot.tenant.last_name %>
        <%= slot.tenant.status %>
        <%= slot.status %>
        <%= set_grade(slot.tenant, flat) %>
        <%= slot.tenant.description %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>

    </div>
  </div>
</div>
