<div class="modal fade bs-example-modal-lg" id="modal-slot-<%= slot.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel"><strong>Profil de <%= set_fullname(slot.tenant) %></strong></h4>
      </div>

      <div class="modal-body">

        <% if slot.starts_at - Time.now > 0 %>

          <h5><%= set_fullname(slot.tenant) %> est intéressé par votre bien.</h5>
          <h5>Il attend que vous choisissiez ce dossier pour devenir votre locataire. </h5>

          <div class="text-center">Note du Dossier : <%= render 'flats/grade', slot: slot, user: slot.tenant, flat: @flat %></div>

          <div><%= image_tag set_user_photo(slot.tenant), class: "card-candidates-user avatar-large-square" %></div>
          <div>Prénom : <%= slot.tenant.first_name %></div>
          <div>Nom : <%= slot.tenant.last_name %></div>
          <div>Situation Professionnelle : <br><%= slot.tenant.status %></div>
          <div><%= slot.tenant.description %></div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-toggle="modal" href="#modal-confirm-slots<%= slot.id %>" data-dismiss="modal">Annuler la visite</button>
          </div>

        <% else %>

          <h5>Vous avez refuser le dossier de <%= set_fullname(slot.tenant) %></h5>
          <h5>Vous pouvez le recontacter si vous souhaitez.</h5>

          <div class="text-center">Note du Dossier : <%= render 'flats/grade', slot: slot, user: slot.tenant, flat: @flat %></div>

          <div><%= image_tag set_user_photo(slot.tenant), class: "card-candidates-user avatar-large-square" %></div>
          <div>Prénom : <%= slot.tenant.first_name %></div>
          <div>Nom : <%= slot.tenant.last_name %></div>
          <div>Situation Professionnelle : <br><%= slot.tenant.status %></div>
          <div><%= slot.tenant.description %></div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Retour</button>
          </div>


        <% end %>

      </div>

    </div>
  </div>
</div>
