<!-- Flat navbar -->
<div class="navbar-flat navbar-flat-wagon-fixed">
  <div class="navbar-flat-content">
    <div class="<%= 'active' if current_page?(edit_flat_path(@flat)) %>">
      <%= link_to "Annonce", edit_flat_path(@flat), class: "navbar-wagon-link" %>
    </div>
    <div class="<%= 'active' if current_page?(flat_dossiers_path(@flat)) %>">
      <%= link_to "Candidats", flat_dossiers_path(@flat), class: "navbar-wagon-link" %>
    </div>
    <div class="<%= 'active' if current_page?(flat_visits_path(@flat)) %>">
      <%= link_to "Visites", flat_visits_path(@flat), class: "navbar-wagon-link" %>
    </div>
    <div class="<%= 'active' if current_page?(flat_reservations_path(@flat)) %>">
      <%= link_to "Réservations", flat_reservations_path(@flat), class: "navbar-wagon-link" %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">

    <div class="col-xs-12" id="criteres">
          <h1 class="text-center">Vos exigences</h1>

          <div class="text-center card-critere">

            <%= simple_form_for @flat, method: 'patch', url: flat_filter_path(@flat) do |f| %>

            <div class="row texte-center">
              <div class="col-xs-3">
                <%= f.label :income_ratio, "Ratio minimum Salaire du locataire / Loyer :", class: "control-label" %>

                <%= f.input :income_ratio, label: false, class: "form-control", input_html: {value: @flat.income_ratio, min: '1', max: '10', step: '0.1' } %>

                <div class="hidden" id="rent"><%= @flat.rent + @flat.rental_costs %></div>
                <div>soit un salaire minimun :</div>
                <div id="income"><%= (@flat.income_ratio * (@flat.rent + @flat.rental_costs)).round(0) %> €</div>
              </div>

              <div class="col-xs-4">
                <%= f.input :has_warrantor, label: "Garant",
                :collection => [[true, 'Oui'], [false, 'Non']],
                :label_method => :last,
                :value_method => :first,
                :as => :radio_buttons,
                :item_wrapper_class => 'inline',
                :checked => @flat.has_warrantor %>

                <div class="hidden" id="warrantor-income-box">
                  <%= f.input :warrantor_income_ratio, label: "Ratio minimum Salaire du garant / Loyer :", input_html: {value: @flat.warrantor_income_ratio, min: '1', max: '10', step: '0.1' } %>
                  <div>soit un salaire minimun du garant :</div>
                  <div id="warrantor-income"><%= @flat.warrantor_income_ratio * (@flat.rent + @flat.rental_costs) %> €</div>
                </div>

              </div>



              <div class="col-xs-4">
                <%= f.input :deposit, label: "Vous exigez une caution de :", input_html: {value: @flat.deposit, min: '0' , max: ((@flat.rent + @flat.rental_costs) * 2).to_s , step: '10' } %>


                <div id="message-modif"></div>

              </div>

            </div>
            <div class="row">

              <div class="col-xs-12"><%= f.button :submit, "Filtrer", class:"btn btn-red"%>
            <% end %></div>

            </div>

          </div>

        </div>

  </div>
  <div class="row">

    <div class="col-xs-12">
      <div id="candidates" class="marged-top">

        <div id="candidates-bookings" class="<%= 'hidden' if @bookings_confirmed.first.nil? && @bookings_pending.first.nil? %>">
          <h2 class="highlight"><%= set_number(pluralize @bookings_pending.size, "Réservation") %></h2>
          <div id="candidates-bookings-confirmed">
            <%= render 'flats/candidates/candidates_bookings_confirmed', bookings_confirmed: @bookings_confirmed, flat: @flat %>
          </div>
          <div id="candidates-bookings-pending">
            <%= render 'flats/candidates/candidates_bookings_pending', bookings_pending: @bookings_pending, flat: @flat %>
          </div>
        </div>

        <div id="candidates-slots" class="<%= 'hidden' if @slots_booked.first.nil? %>">
          <h2 class="highlight"><%= set_number(pluralize @slots_booked.count, "Visites") %></h2>
          <div id="candidates-slots-booked">
            <%= render 'flats/candidates/candidates_slots_booked', slots_booked: @slots_booked, flat: @flat %>
          </div>
        </div>

      </div>
    </div>



  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      <% if @flat.has_warrantor %>
        $('#warrantor-income-box').removeClass('hidden');
      <% end %>
    });
  </script>
<% end %>
