<!-- Tenant navbar -->
<div class="navbar-flat navbar-flat-wagon-fixed">
  <div class="navbar-flat-content">
    <div class="<%= 'active' if current_page?(edit_user_registration_path) %>">
      <%= link_to "Mon profil", edit_user_registration_path, class: "navbar-wagon-link" %>
    </div>
    <div class="<%= 'active' if current_page?(new_search_path || edit_search_path(@search)) %>">
      <% if current_user.searches.size == 0 %>
        <%= link_to "Critères de recherche", new_search_path, class: "navbar-wagon-link" %>
      <% else %>
        <%= link_to "Critères de recherche", edit_search_path(current_user.searches.last), class: "navbar-wagon-link" %>
      <% end %>
    </div>
    <div class="<%= 'active' if current_page?(flats_path) %>">
      <%= link_to "Annonces", flats_path, class: "navbar-wagon-link" %>
    </div>
    <div class="<%= 'active' if current_page?(visites_path) %>">
      <%= link_to "Visites", visites_path, class: "navbar-wagon-link" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card col-xs-12">
      <div class="row">
        <h2 class="text-center sm-marged-bottom highlight">Résultats de ma recherche</h2>

        <!-- Results if no flat is available -->
        <% if @flats.size == 0 %>
          <div class="text-center">
            <p class="sm-marged-bottom">Malheureusement, aucun appartement ne correspond à votre recherche. Mais ne perdez pas courage et affinez votre recherche.</p>
            <%= link_to "Modifier mes critères de recherche", edit_search_path(current_user.searches.last), class: "btn btn-red" %>
          </div>

        <!-- Results if flats are available -->
        <% else %>
          <% @flats.each do |flat| %>
            <%= link_to flat_path(flat) do %>
              <div class="col-xs-12 col-sm-4 sm-marged-bottom">
                <div class="card-dashboard">
                  <div class="card-dashboard-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=flat.photos.first.nil? ? "" : (cl_image_path flat.photos.first.public_id , crop: :scale) %>);">
                    <% if flat.slots.size == 0 %>
                      <div class="card-category badge-red">Visites en cours</div>
                    <% end %>
                  </div>
                  <div class="card-dashboard-description ">
                    <h2 class="highlight" style="height: 40px; margin-bottom: 20px"><%= flat.title %></h2>
                    <p>
                      <%= flat.size %>m²
                      <br>
                      <%= flat.rent + flat.rental_costs %>€/mois
                      <br>
                      <% if flat.slots.size == 0 %>
                        Pas de visite organisée
                      <% else %>
                        Prochaine visite : <%= flat.slots.order("starts_at asc").first.starts_at.strftime("%d/%m/%Y") %>
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
