<!-- Flat navbar -->
<div class="navbar-flat">
  <div class="navbar-flat-content">
    <div class="<%= 'active' if current_page?(edit_flat_path(@flat)) %>">
      <%= link_to "Annonce", edit_flat_path(@flat), class: "navbar-wagon-link" %>
    </div>
    <div class="<%= 'active' if current_page?(flat_dossiers_path(@flat)) %>">
      <%= link_to "Candidats", flat_dossiers_path(@flat), class: "navbar-wagon-link" %>
    </div>
    <div class="<%= 'active' if current_page?(flat_visits_path(@flat)) %>">
      <%= link_to "Visites", flat_visits_path(@flat), class: "navbar-wagon-link" %>
    </div>
    <div class="<%= 'active' if current_page?(root_path) %>">
      <%= link_to "Réservations", root_path, class: "navbar-wagon-link" %>
    </div>
  </div>
</div>


<div class="container card text-center">
  <h2 class="highlight">Définir un créneau</h2>
  <div class="row">
    <%= simple_form_for([@flat, @availability]) do |f| %>
    <%= f.error_notification %>
    <div class="col-xs-12 col-sm-6">
      <!-- <div id="datepicker" data-date=Date.today></div> -->
      <div style="overflow:hidden;">
        <div class="form-group">
          <div class="col-xs-10 col-xs-offset-1">
            <div id="datetimepicker"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="form-inputs">
        <%= f.input :starts_at, as: :hidden, :input_html => { :id => "datetimepicker_hidden_field" } %>
        <div class="col-xs-10 col-xs-offset-1">
          <%= f.input :length, label: "Durée du créneau (h) :" %>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
          <%= f.input :slot_length, label: "Durée de la visite (min) :" %>
        </div>
      </div>
      <div class="form-actions text-center">
        <%= f.button :submit, "Ajouter un créneau", class:"btn btn-danger"%>
      </div>
    </div>
    <% end %>
  </div>
</div>

<% if @flat.availabilities.size > 0 %>
  <!-- Next slots -->
  <div class="container card text-center">
    <h2 class="highlight">Mes prochaines visites</h2>
    <% @flat.availabilities.each do |availability| %>
      <% if availability.slots.size >= 1 %>
        <div class="row">
          <h4><strong><%= availability.starts_at.strftime(format="%A %e %Y %H:%M") %></strong></h4>
          <% availability.slots.each do |slot| %>
            <div class="col-xs-6 col-sm-3">
              <% if slot.status == "Vacant" %>
                <div class="slot-card-vacant" %>
                  <div class="card-category">
                    <%= slot.starts_at.strftime(format="%H:%M") %>
                  </div>
                  <div class="card-description">
                    <p><%= slot.status %></p>
                  </div>
                </div>
              <% elsif slot.status == "Booked" %>
                <div class="slot-card-booked" %>
                  <div class="card-category">
                    <%= slot.starts_at %>
                  </div>
                  <div class="card-description">
                    <p><%= slot.status %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- Past slots -->
  <div class="container card text-center">
    <h2 class="highlight">Visites passées</h2>
    <% @flat.availabilities.each do |availability| %>
      <% if availability.slots.size >= 1 %>
        <div class="row">
          <h4><%= availability.starts_at.strftime(format="%A %e %Y %H:%M") %></h4>
          <% availability.slots.each do |slot| %>
            <div class="col-xs-6 col-sm-3">
              <% if slot.status == "Vacant" %>
                <div class="slot-card-vacant" %>
                  <div class="card-category">
                    <%= slot.starts_at.strftime(format="%A %e %Y %H:%M") %>
                  </div>
                  <div class="card-description">
                    <p><%= slot.status %></p>
                  </div>
                </div>
              <% elsif slot.status == "Booked" %>
                <div class="slot-card-booked" %>
                  <div class="card-category">
                    <%= slot.starts_at %>
                  </div>
                  <div class="card-description">
                    <p><%= slot.status %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
