<!-- Locataire navbar -->
<div class="navbar-flat navbar-flat-wagon-fixed">
  <div class="navbar-flat-content">
    <div class="<%= 'active' if current_page?(user_locataire_path(@user)) %>">
      <%= link_to "Profil", user_locataire_path(@user), class: "navbar-wagon-link" %>
    </div>
    <div class="<%= 'active' if current_page?(user_recherche_path(@user)) %>">
      <%= link_to "Recherche", user_recherche_path(@user), class: "navbar-wagon-link" %>
    </div>
    <div class="<%= 'active' if current_page?(flats_path) %>">
      <%= link_to "Annonces", flats_path, class: "navbar-wagon-link" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card col-xs-12">
      <div class="row">
        <div class="form col-xs-12 col-md-6 col-md-offset-3">
          <h2 class="text-center sm-marged-bottom highlight">Renseigner mon profil</h2>
          <%= simple_form_for(@user, url: user_recherche_path(@user)) do |f| %>
            <%= f.error_notification %>

            <!-- Form inputs -->
            <div class="form-inputs">

              <!-- Gender -->
              <div class="form-group radio_buttons optional user_gender">
                <label class="control-label radio_buttons optional">Vous êtes</label>
                <input type="hidden" name="user[gender]" value="">
                <div class="row text-center">
                  <div class="col-xs-12 col-md-6">
                    <span class="radio tenant-radio-button">
                      <label for="user_gender_un_homme">Un homme</label>
                      <input class="radio_buttons optional hidden" type="radio" value="Un homme" name="user[gender]" id="user_gender_un_homme">
                    </span>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <span class="radio tenant-radio-button">
                      <label for="user_gender_une_femme">Une femme</label>
                      <input class="radio_buttons optional hidden" type="radio" value="Une femme" name="user[gender]" id="user_gender_une_femme">
                    </span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form col-xs-12 col-md-6">
                  <%= f.input :first_name, label: "Prénom" %>
                </div>
                <div class="form col-xs-12 col-md-6">
                  <%= f.input :last_name, label: "Nom" %>
                </div>
              </div>
              <%= f.input :birth_year, label: "Année de naissance", input_html: { value: 2017, min: 1900, max: 2017, class: "form-sm-input"} %>
              <%= f.input :phone_number, label: "Téléphone", placeholder: "0600000000", input_html: {class: "form-sm-input"} %>
              <%= f.input :description, label: "Parlez nous de vous", placeholder: "Afin de mettre toutes les chances de votre côté, vous pouvez vous décrire en quelques lignes." %>

              <div class="form-group radio_buttons optional user_status">
                <label class="control-label radio_buttons optional">Votre activité</label>
                <input type="hidden" name="user[status]" value="">

                <div class="row text-center">
                  <div class="col-xs-6 col-md-3">
                    <span class="radio status-tenant-radio-button">
                      <label for="user_status_etudiant">Etudiant</label>
                      <input class="radio_buttons optional hidden" type="radio" value="Etudiant" name="user[status]" id="user_status_etudiant">
                    </span>
                  </div>
                  <div class="col-xs-6 col-md-3">
                    <span class="radio status-tenant-radio-button">
                      <label for="user_status_salari">Salarié</label>
                      <input class="radio_buttons optional hidden" type="radio" value="Salarié" name="user[status]" id="user_status_salari">
                    </span>
                  </div>
                  <div class="col-xs-6 col-md-3">
                    <span class="radio status-tenant-radio-button">
                      <label for="user_status_indpendant">Indépendant</label>
                      <input class="radio_buttons optional hidden" type="radio" value="Indépendant" name="user[status]" id="user_status_indpendant">
                    </span>
                  </div>
                  <div class="col-xs-6 col-md-3">
                    <span class="radio status-tenant-radio-button">
                      <label for="user_status_autre">Autre</label>
                      <input class="radio_buttons optional hidden" type="radio" value="Autre" name="user[status]" id="user_status_autre">
                    </span>
                  </div>
                </div>
              </div>

              <%= f.input :income, label: "Revenu net mensuel", input_html: { min: 0, step: 'any', class: "form-sm-input" } %>
              <%= f.input :has_warrantor %>
              <%= f.input :warrantor_type, label: "Garant", collection: ["Famille", "Amis", "Banque", "Employeur", "Organisme", "Autre"], as: :radio_buttons %>
              <%= f.input :warrantor_income, label: "Revenu net mensuel", input_html: { min: 0, step: 'any', class: "form-sm-input" } %>
            </div>

            <!-- Form actions -->
            <div class="form-actions text-center">
              <%= f.button :submit, "Renseigner mon profil", class:"btn btn-red"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      $(".tenant-radio-button").click(function(){
       $(".tenant-radio-button").removeClass("active");
       $(this).toggleClass("active");
      });

      $(".status-tenant-radio-button").click(function(){
       $(".status-tenant-radio-button").removeClass("active");
       $(this).toggleClass("active");
      });
    });
  </script>
<% end %>
