<!-- Locataire navbar -->
<div class="navbar-flat navbar-flat-wagon-fixed">
  <div class="navbar-flat-content">
    <div class="<%= 'active' if current_page?(user_locataire_path(@user)) %>">
      <%= link_to "Profil", user_locataire_path(@user), class: "navbar-wagon-link" %>
    </div>
    <div class="<%= 'active' if current_page?(user_recherche_path(@user)) %>">
      <%= link_to "Recherche", user_recherche_path(@user), class: "navbar-wagon-link" %>
    </div>
    <div class="<%= 'active' if current_page?(flats_path) %>">
      <%= link_to "Annonces", flats_path, class: "navbar-wagon-link" %>
    </div>
  </div>
</div>

<class="container">
  <div class="row">
    <div class="card col-xs-12">
      <div class="row">
        <div class="form col-xs-12 col-md-6 col-md-offset-3">
          <h2 class="text-center sm-marged-bottom highlight">Ma recherche d'appartement</h2>
          <%= simple_form_for [@user, @search], url: user_recherche_path(@user) do |f| %>
            <%= f.error_notification %>

            <!-- Form inputs -->
            <div class="form-inputs">
              <%= f.input :address %>
            </div>

            <!-- Form actions -->
            <div class="form-actions text-center">
              <%= f.button :submit, "Rechercher mon appartement", class:"btn btn-red"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
