<!-- Locataire navbar -->
<div class="navbar-flat navbar-flat-wagon-fixed">
  <div class="navbar-flat-content">
    <div class="<%= 'active' if current_page?(user_locataire_path(@user)) %>">
      <%= link_to "Mon profil", user_locataire_path(@user), class: "navbar-wagon-link" %>
    </div>
    <div class="<%= 'active' if current_page?(user_recherche_path(@user)) %>">
      <%= link_to "Critères de recherche", user_recherche_path(@user), class: "navbar-wagon-link" %>
    </div>
    <div class="<%= 'active' if current_page?(flats_path) %>">
      <%= link_to "Annonces", flats_path, class: "navbar-wagon-link" %>
    </div>
    <div class="<%= 'active' if current_page?(user_visites_path(@user)) %>">
      <%= link_to "Visites", user_visites_path(@user), class: "navbar-wagon-link" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card col-xs-12">
      <div class="row">
        <h2 class="text-center sm-marged-bottom highlight">Mes visites</h2>

        <!-- Next slots -->
        <% @user.slots.order("starts_at asc").where(["status <> 'Cancelled'"]).where(['starts_at >= ?', DateTime.now.midnight]).group_by{|slot| slot.starts_at.strftime("%A %e %B %Y")}.each do |date, slots| %>
          <h4><strong><%= date %></strong></h4>
          <div class="row">
            <% slots.each do |slot| %>
              <%= link_to flat_path(slot.flat) do %>
                <div class="col-xs-12 col-sm-4 sm-marged-bottom">
                  <div class="card-dashboard">
                    <div class="card-dashboard-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=slot.flat.photos.first.nil? ? "" : (cl_image_path slot.flat.photos.first.public_id , crop: :scale) %>);">
                      <% if slot.flat.slots.size == 0 %>
                        <div class="card-category badge-red">Visites en cours</div>
                      <% end %>
                    </div>
                    <div class="card-dashboard-description ">
                      <h2 class="highlight" style="height: 40px; margin-bottom: 20px"><%= slot.flat.title %></h2>
                      <p>
                        <%= slot.flat.size %>m²
                        <br>
                        <%= slot.flat.rent + slot.flat.rental_costs %>€/mois
                        <br>
                        Visite le <%= slot.starts_at.strftime("%d/%m/%Y") %>
                      </p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <!-- Past slots -->
        <% if @user.slots.order("starts_at asc").where(['starts_at < ?', DateTime.now.midnight]).length >= 1 %>
          <% @user.slots.order("starts_at asc").where(['starts_at < ?', DateTime.now.midnight]).group_by{|slot| slot.starts_at.strftime("%A %e %B %Y")}.each do |date, slots| %>
            <h4><strong><%= date %></strong></h4>
            <div class="row">
              <% slots.each do |slot| %>
                <%= link_to flat_path(slot.flat) do %>
                  <div class="col-xs-12 col-sm-4 sm-marged-bottom">
                    <div class="card-dashboard">
                      <div class="card-dashboard-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=slot.flat.photos.first.nil? ? "" : (cl_image_path slot.flat.photos.first.public_id , crop: :scale) %>);">
                        <% if slot.flat.slots.size == 0 %>
                          <div class="card-category badge-red">Visites en cours</div>
                        <% end %>
                      </div>
                      <div class="card-dashboard-description ">
                        <h2 class="highlight" style="height: 40px; margin-bottom: 20px"><%= slot.flat.title %></h2>
                        <p>
                          <%= slot.flat.size %>m²
                          <br>
                          <%= slot.flat.rent + slot.flat.rental_costs %>€/mois
                          <br>
                          Visite le <%= slot.starts_at.strftime("%d/%m/%Y") %>
                        </p>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
