<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');">
  <div class="container">
    <div class="banner-content">
      <h1>Louer son appartement simplement</h1>
      <p>Gérer la location de son bien immobilier ne devrait pas être si difficile. Mykeys simplifie la gestion locative et permet aux propriétaires de gérer leurs biens sans recourir à une agence immobilière</p>
      <a class="button">S'inscrire</a>
    </div>
  </div>
</div>

<!-- Features -->
<div class="container padded">
  <section class="text-center">
    <h1>Comment pouvons-nous vous aider ?</h1>
  </section>
  <section class="text-center">
    <div class="row padded">
      <div class="col-sm-6 col-xs-12">
        <%= image_tag "feature.png", class: "feature-img" %>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="value-prop">
          <h3>Economisez de l'argent</h3>
          <h5>Notre solution est entièrement gratuite pour les propriétaires. De plus, notre solution innovante permet de trouver des locataires correspondants à vos attentes plus rapidement grâce à notre système de réservation. Mykeys propose une expérience digitale simplifiée afin que vos locataires restent plus longtemps, diminuant ainsi le taux de rotationd de votre logement.</h5>
        </div>
      </div>
    </div>
  </section>

  <section class="text-center">
    <div class="row padded">
      <div class="col-sm-6 col-xs-12 visible-xs-block">
        <img src="/images/clock.png" class="clock">
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="value-prop save-time">
          <h3>Gagnez du temps</h3>
          <h5>Notre solution vous permet d'automatiser les différentes tâches adminsitratives liées à la location de votre bien (organisation des visites, rédaction du bail de location, envoi des quittances de loyers), vous permettant de gagner un grand nombre d'heures.</h5>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12 hidden-xs">
        <%= image_tag "feature.png", class: "feature-img" %>
      </div>
    </div>
  </section>

  <section class="text-center">
    <div class="row padded">
      <div class="col-sm-6 col-xs-12">
        <%= image_tag "feature.png", class: "feature-img" %>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="value-prop stay-inknow">
          <h3>Restez informés</h3>
          <h5>Récupérez de l'information précieuse sur vos biens immobiliers, dès que vous en avez besoin. Grâce à la plateforme Mykeys, vous pouvez parcourir l'ensemble des dossiers de vos locataires, suivre l'historique des demandes de maintenance, observer la performance financière de vos investissements locatifs.</h5>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- The steps to rent its appartment -->
<div class="container">
  <section class="text-center">
    <h1>Comment ça marche ?</h1>
  </section>
  <section class="text-center">
    <div class="row padded">
      <div class="col-sm-4 col-xs-12">
        <%= image_tag "feature.png", class: "feature-img-small" %>
        <h3>Tenant Screening Placement</h3>
        <p>We help you set a rental rate for your properties, market them with beautiful professional photographs, and screen tenants to ensure only the best make it through.</p>
      </div>
      <div class="col-sm-4 col-xs-12">
        <%= image_tag "feature.png", class: "feature-img-small" %>
        <h3>Tenant Screening Placement</h3>
        <p>We help you set a rental rate for your properties, market them with beautiful professional photographs, and screen tenants to ensure only the best make it through.</p>
      </div>
      <div class="col-sm-4 col-xs-12">
        <%= image_tag "feature.png", class: "feature-img-small" %>
        <h3>Tenant Screening Placement</h3>
        <p>We help you set a rental rate for your properties, market them with beautiful professional photographs, and screen tenants to ensure only the best make it through.</p>
      </div>
    </div>
    <div class="row padded">
      <div class="col-sm-4 col-xs-12">
        <%= image_tag "feature.png", class: "feature-img-small" %>
        <h3>Tenant Screening Placement</h3>
        <p>We help you set a rental rate for your properties, market them with beautiful professional photographs, and screen tenants to ensure only the best make it through.</p>
      </div>
      <div class="col-sm-4 col-xs-12">
        <%= image_tag "feature.png", class: "feature-img-small" %>
        <h3>Tenant Screening Placement</h3>
        <p>We help you set a rental rate for your properties, market them with beautiful professional photographs, and screen tenants to ensure only the best make it through.</p>
      </div>
      <div class="col-sm-4 col-xs-12">
        <%= image_tag "feature.png", class: "feature-img-small" %>
        <h3>Tenant Screening Placement</h3>
        <p>We help you set a rental rate for your properties, market them with beautiful professional photographs, and screen tenants to ensure only the best make it through.</p>
      </div>
    </div>
  </section>
</div>
