
<div class="container padded-top">
  <div class="row">
    <div class="card col-xs-12">
      <h2 class="text-center sm-marged-bottom highlight">Mon dashboard</h2>
        <div class="row">
        <%= link_to new_flat_path do %>
          <div class="col-xs-12 col-sm-4 sm-marged-bottom">
            <div class="card-dashboard flexbox text-center">
                <h2 class="highlight" style= "margin-bottom: 20px">
                  Créer une annonce
                </h2>
            </div>
          </div>
        <% end %>

          <% @user_flats.where(status: "Busy").each do |user_flat|%>
            <%= link_to edit_flat_path(user_flat) do %>
              <div class="col-xs-12 col-sm-4 sm-marged-bottom">
                <div class="card-dashboard">
                  <div class="card-dashboard-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=user_flat.photos.first.nil? ? "" : (cl_image_path user_flat.photos.first.public_id , crop: :scale) %>);">
                    <div class="card-category badge-red"> <%= user_flat.status == "Available" ? "Visites" : "Loué" %> </div>
                    <div>
                        <div class="flat-user-photo">
                         <%= image_tag(set_user_photo(user_flat.booking.tenant)) %>
                        </div>
                    </div>
                  </div>
                  <div class="card-dashboard-description ">
                    <h2 class="highlight"><%= user_flat.title %></h2>
                    <p>
                      <b>Loué depuis le </b><%= user_flat.booking.starting_date %>
                      <b>Fin du bail:</b> <%= user_flat.booking.end_date %>
                      <b>Loyer:</b> <%= user_flat.rent %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>

          <% @user_flats.where(status: "Available").each do |user_flat|%>
            <%= link_to edit_flat_path(user_flat) do %>
              <div class="col-xs-12 col-sm-4 sm-marged-bottom">
                <div class="card-dashboard">
                  <div class="card-dashboard-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=user_flat.photos.first.nil? ? "" : (cl_image_path user_flat.photos.first.public_id , crop: :scale) %>);">
                    <div class="card-category badge-red"> <%= user_flat.status == "Available" ? "Visites" : "Loué"  %> </div>
                  </div>
                  <div class="card-dashboard-description ">
                    <h2 class="highlight" style= "margin-bottom: 20px"><%= user_flat.title %></h2>
                    <p> <b>Prochaine visite: </b><%=user_flat.slots.empty? ? "Aucune visite" :user_flat.slots.last.starts_at.strftime("%d/%m/%Y %H:%M") %>
                    <br>
                    <b>Visites a venir ::</b> <%= user_flat.slots.length %>
                    <br>
                    <b>Dossiers déposés :</b> <%= user_flat.bookings.length %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
