
<div class="container marged-top">

  <div class="row">
    <div class="col-xs-12 col-sm-4 sm-marged-bottom">
      <div class="card-dashboard flexbox text-center">
          <h2>
            <%= link_to 'Créer une annonce', new_flat_path, class:"card-new-link" %>
          </h2>
      </div>
    </div>

    <% @user_flats.where(status: "Busy").each do |user_flat|%>
      <div class="col-xs-12 col-sm-4 sm-marged-bottom">
        <div class="card-dashboard">
          <div class="card-dashboard-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=user_flat.photos.first.nil? ? "" : cl_image_path(user_flat.photos.first , crop: :scale) %>');">
            <div class="row">
              <div class="col-xs-6">
                <div class="card-category "> <%= user_flat.status %> </div>
              </div>
              <div class="col-xs-6">
                <div class="flat-user-photo">
                 <%= image_tag(set_user_photo(user_flat.booking.tenant)) %>
                </div>
              </div>
            </div>

            <div class="card-dashboard-description ">
              <h2><%= user_flat.title %></h2>
              <p>
              Loué depuis le <%= user_flat.booking.starting_date %>
              Fin du bail: <%= user_flat.booking.end_date %>
              Loyer: <%= user_flat.rent %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% @user_flats.where(status: "Available").each do |user_flat|%>
      <div class="col-xs-12 col-sm-4 sm-marged-bottom">
        <div class="card-dashboard">
          <div class="card-dashboard-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=user_flat.photos.first.nil? ? "" : (cl_image_path user_flat.photos.first.public_id , crop: :scale) %>);">
            <div class="card-category badge-red"> <%= user_flat.status %> </div>
          </div>
          <div class="card-dashboard-description ">
            <h2><%= user_flat.title %></h2>
            <p> <b>Prochaine visite: </b><%=user_flat.slots.empty? ? "N/A" :user_flat.slots.last.starts_at %> <br>
            <b>Visites a venir:</b> <%= user_flat.slots.length %> <br>
            <%= user_flat.bookings.length %> dossiers déposés
            </p>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
