<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(236, 240, 241,0.2) 0%, rgba(0,36,61,0.6) 50%), url( <%= image_path 'background.jpg' %> );">
  <div class="container">
    <div class="banner-content">
      <h1>Louer mon <span class="typer" data-delay="150" data-words="appartement, logement, chalet, gîte, château" data-colors="white"></span></h1>
      <h1>simplement</h1>
      <p>Trouver un locataire ne devrait pas être si complexe. <br> Zenkey simplifie l'organisation des visites et la recherche d'un locataire</p>
      <% if user_signed_in? %>
        <%= link_to t(".top_call_to_action", default: "Mon dashboard"), dashboard_path, class: "btn btn-red" %>
      <% else %>
        <%= link_to t(".top_call_to_action", default: "Se connecter"), new_user_session_path, class: "btn btn-red" %>
      <% end %>
    </div>
  </div>
</div>

<!-- Features -->
<div class="container">
  <div class="row text-center marged-top">
    <h1>Propriétaires, nous pouvons vous aider</h1>
  </div>
  <div class="row text-center marged-top">
    <div class="col-sm-4 col-xs-12">
      <%= image_tag "feature_annonce.png", class: "feature-img-small" %>
      <h3>Partage de votre annonce</h3>
      <p>Zenkey simplifie la diffusion de votre annonce en vous permettant de la publier sur différents canaux.</p>
    </div>
    <div class="col-sm-4 col-xs-12">
      <%= image_tag "feature_visites.png", class: "feature-img-small" %>
      <h3>Organisation des visites</h3>
      <p>Plus besoin de passer des heures au téléphone pour organiser vos visites. Toutes les visites sont organisées en ligne en fonction de vos disponibilités.</p>
    </div>
    <div class="col-sm-4 col-xs-12">
      <%= image_tag "feature_choix.png", class: "feature-img-small" %>
      <h3>Choix du locataire</h3>
      <p>Les dossiers des locataires sont classés et notés vous permettant de simplifier votre choix.</p>
    </div>
  </div>
</div>
