<!DOCTYPE html>
<html>
  <head>
    <title>Mykeys - Gérer la location de son bien seul</title>
    <%= csrf_meta_tags %>

    <!-- Detecting device width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar navbar-fixed">

    <!-- Logo -->
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <!-- Navigation menu -->
    <div class="navbar-right">
      <ul class="navbar-menu">
        <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Propriétaires", root_path %></li>
        <li class="<%= 'active' if current_page?(locataires_path) %>"><%= link_to "Locataires", locataires_path %></li>
      </ul>
      <%= link_to t(".top_call_to_action", default: "Se connecter"), "#", class: "navbar-item navbar-button btn" %>
    </div>
  </div>

    <%= yield %>
  </body>
</html>
