<% if !@bookings_pending.first.nil? %>
<div class="container reservation">

<hr>
  <div class="row">
  <% @bookings_pending.each do |booking| %>
  <div class="col-xs-12 col-sm-3">
    <!-- insert <div class="card"> -->
    <div class="card-tenant text-center">
    <%= image_tag set_user_photo(booking.tenant), class: "card-tenant-avatar avatar-large-bordered" %>
      <div class="card-tenant-name"></div>
        <div class="card-tenant-description text-center">
          <h2><%= render 'flats/grade', booking: booking, user: booking.tenant, flat: @flat %></h2>
          <H2><%= set_fullname(booking.tenant) %></H2>
          <%#= booking.tenant.status %>
          <%#= booking.status %>
          <span class="label label-warning">En attente</span>
          <ul class="list-inline">
            <li><i class="fa fa-phone" aria-hidden="true"></i></li>
            <li>06 50 34 17 17</li>
          </ul>
          <ul class="list-inline">
            <li><i class="fa fa-envelope" aria-hidden="true"></i></li>
            <li><%= booking.tenant.email %></li>
          </ul>
          <a class="btn btn-primary" data-toggle="modal" data-target="#modal-booking-<%= booking.id %>">Voir candidat</a>
          <%= render 'flats/modals/modal_candidates_bookings', booking: booking, flat: @flat  %>
        <%= render 'flats/modals/modal_confirm_bookings', booking: booking, flat: @flat  %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>



<!-- <div>
  <%# if !@bookings_pending.first.nil? %>
    <h2 class="highlight text-center"><%#= pluralize @bookings_pending.count, "dossier" %> en attente</h2>
    <%# @bookings_pending.each do |booking| %>
      <div class="card-candidates" id="<%#= booking.id %>">
        <%#= image_tag set_user_photo(booking.tenant), class: "card-candidates-user avatar-large" %>
=======
<div>
  <%# if !@bookings_pending.first.nil? %>

    <%# @bookings_pending.each do |booking| %>
      <div class="card-candidates" id="<%#= booking.id %>">
        <%#= image_tag set_user_photo(booking.tenant), class: "card-candidates-user avatar-large" %>
>>>>>>> master
        <div class="card-candidates-content">
          <div><%#= set_fullname(booking.tenant) %></div>
          <div><%#= booking.tenant.status %></div>
          <div>Status du dossier : <%#= booking.status %></div>
          <div>Note du dossier : <%#= render 'flats/grade', booking: booking, user: booking.tenant, flat: @flat %></div>
        </div>

 HEAD
          <button type="button" class="btn btn-danger" data-toggle="modal" href="#modal-confirm-bookings<%#= booking.id %>" data-dismiss="modal">Choisir ce locataire</button>
=======
          <button type="button" class="btn btn-red" data-toggle="modal" href="#modal-confirm-bookings<%#= booking.id %>" data-dismiss="modal">Choisir ce locataire</button>
>>>>>>> master

        <a class="card-candidates-link" data-toggle="modal" data-target="#modal-booking-<%#= booking.id %>"></a>

        <%#= render 'flats/modals/modal_candidates_bookings', booking: booking, flat: @flat %>
        <%#= render 'flats/modals/modal_confirm_bookings', booking: booking, flat: @flat  %>
      </div>
    <%# end %>
  <%# end %>
</div> -->
