<div>
  <% if !@bookings_cancelled.first.nil? %>

    <% @bookings_cancelled.each do |booking| %>
      <div class="card-candidates" id="<%= booking.id %>">
        <%= image_tag set_user_photo(booking.tenant), class: "card-candidates-user avatar-large" %>
        <div class="card-candidates-content">
          <div><%= set_fullname(booking.tenant) %></div>
          <div><%= booking.tenant.status %></div>
          <div>Status du dossier : <%= booking.status %></div>
          <div>Note du dossier : <%= render 'flats/grade', booking: booking, user: booking.tenant, flat: @flat %></div>
        </div>

          <button type="button" class="btn btn-red" data-toggle="modal" href="#modal-confirm-bookings<%= booking.id %>" data-dismiss="modal">Choisir ce locataire</button>

        <a class="card-candidates-link" data-toggle="modal" data-target="#modal-booking-<%= booking.id %>"></a>

        <%= render 'flats/modals/modal_candidates_bookings', booking: booking, flat: @flat %>
        <%= render 'flats/modals/modal_confirm_bookings', booking: booking, flat: @flat  %>
      </div>
    <% end %>
  <% end %>
</div>
