<% if !@candidates_reservations.first.nil? %>

  <div class="container reservation">

    <div class="row">

      <% if !Booking.where(flat: @flat, status: "Confirmed").first.nil? %>

        <h2 class="highlight">Votre locataire (<%= @candidates_reservations_confirmed.count %>)</h2>

          <% @candidates_reservations_confirmed.each do |candidate| %>

            <div class="col-xs-12 col-sm-3">
                <!-- insert <div class="card"> -->
              <div class="card-tenant text-center">

                <%= image_tag set_user_photo(candidate), class: "card-tenant-avatar avatar-large-bordered" %>

                <div class="card-tenant-description text-center">
                  <h2><%= render 'flats/grade', user: candidate, flat: @flat %></h2>

                  <% if !candidate.slots.where(flat: @flat).nil? && candidate.slots.where(flat: @flat).first.starts_at - Time.now > 0 %>
                    <span class="label label-warning">Visite à venir !</span>
                  <% elsif !candidate.slots.where(flat: @flat).nil? && candidate.slots.where(flat: @flat).first.starts_at - Time.now <= 0 %>
                    <span class="label label-success">Visite effectué !</span>
                  <% else %>
                    <span class="label label-danger">Aucune visite prévue !</span>
                  <% end %>

                  <% if candidate.bookings.where(flat: @flat).first.nil? %>
                    <span class="label label-warning">Dossier non deposé !</span>
                  <% else %>
                    <span class="label label-success">Dossier deposé !</span>
                  <% end %>

                  <h2><%= set_fullname(candidate) %></h2>

                  <ul class="list-inline">
                    <li><i class="fa fa-phone" aria-hidden="true"></i></li>
                    <li><%= candidate.phone_number %></li>
                  </ul>
                  <ul class="list-inline">
                    <li>Visite: <%= candidate.slots.where(flat: @flat).first.starts_at.strftime("%d/%m/%Y %H:%M")%></li>
                  </ul>
                  <a class="btn btn-primary" data-toggle="modal" data-target="#modal-profile-<%= candidate.id %>">Voir</a>

                  <%= render 'flats/modals/modal_profile', candidate: candidate, flat: @flat %>
                  <%= render 'flats/modals/modal_confirmation', candidate: candidate, flat: @flat %>

                </div>
              </div>
            </div>

          <% end %>

          <% @candidates_reservations_confirmed_not_conform.each do |candidate| %>

            <div class="col-xs-12 col-sm-3">
                <!-- insert <div class="card"> -->
              <div class="card-tenant text-center">

                <%= image_tag set_user_photo(candidate), class: "card-tenant-avatar avatar-large-bordered" %>

                <div class="card-tenant-description text-center">
                  <h2><%= render 'flats/grade', user: candidate, flat: @flat %></h2>

                  <span class="label label-danger">Profil non conforme à vos exigences !</span>

                  <% if !candidate.slots.where(flat: @flat).nil? && candidate.slots.where(flat: @flat).first.starts_at - Time.now > 0 %>
                    <span class="label label-warning">Visite à venir !</span>
                  <% elsif !candidate.slots.where(flat: @flat).nil? && candidate.slots.where(flat: @flat).first.starts_at - Time.now <= 0 %>
                    <span class="label label-success">Visite effectué !</span>
                  <% else %>
                    <span class="label label-danger">Aucune visite prévue !</span>
                  <% end %>

                  <% if candidate.bookings.where(flat: @flat).first.nil? %>
                    <span class="label label-warning">Dossier non deposé !</span>
                  <% else %>
                    <span class="label label-success">Dossier deposé !</span>
                  <% end %>

                  <h2><%= set_fullname(candidate) %></h2>

                  <ul class="list-inline">
                    <li><i class="fa fa-phone" aria-hidden="true"></i></li>
                    <li><%= candidate.phone_number %></li>
                  </ul>
                  <ul class="list-inline">
                    <li>Visite: <%= candidate.slots.where(flat: @flat).first.starts_at.strftime("%d/%m/%Y %H:%M")%></li>
                  </ul>
                  <a class="btn btn-primary" data-toggle="modal" data-target="#modal-profile-<%= candidate.id %>">Voir</a>

                  <%= render 'flats/modals/modal_profile', candidate: candidate, flat: @flat %>
                  <%= render 'flats/modals/modal_confirmation', candidate: candidate, flat: @flat %>

                </div>
              </div>
            </div>

          <% end %>


      <% elsif !Booking.where(flat: @flat, status: "Pending").first.nil? %>

        <h2 class="highlight">Vos dossiers déposés (<%= @candidates_reservations_pending.count %>)</h2>

          <% @candidates_reservations_pending.each do |candidate| %>

            <div class="col-xs-12 col-sm-3">
                <!-- insert <div class="card"> -->
              <div class="card-tenant text-center">

                <%= image_tag set_user_photo(candidate), class: "card-tenant-avatar avatar-large-bordered" %>

                <div class="card-tenant-description text-center">
                  <h2><%= render 'flats/grade', user: candidate, flat: @flat %></h2>

                  <% if !candidate.slots.where(flat: @flat).nil? && candidate.slots.where(flat: @flat).first.starts_at - Time.now > 0 %>
                    <span class="label label-warning">Visite à venir !</span>
                  <% elsif !candidate.slots.where(flat: @flat).nil? && candidate.slots.where(flat: @flat).first.starts_at - Time.now <= 0 %>
                    <span class="label label-success">Visite effectué !</span>
                  <% else %>
                    <span class="label label-danger">Aucune visite prévue !</span>
                  <% end %>

                  <% if candidate.bookings.where(flat: @flat).first.nil? %>
                    <span class="label label-warning">Dossier non deposé !</span>
                  <% else %>
                    <span class="label label-success">Dossier deposé !</span>
                  <% end %>

                  <h2><%= set_fullname(candidate) %></h2>

                  <ul class="list-inline">
                    <li><i class="fa fa-phone" aria-hidden="true"></i></li>
                    <li><%= candidate.phone_number %></li>
                  </ul>
                  <ul class="list-inline">
                    <li>Visite: <%= candidate.slots.where(flat: @flat).first.starts_at.strftime("%d/%m/%Y %H:%M")%></li>
                  </ul>
                  <a class="btn btn-primary" data-toggle="modal" data-target="#modal-profile-<%= candidate.id %>">Voir</a>

                  <%= render 'flats/modals/modal_profile', candidate: candidate, flat: @flat %>
                  <%= render 'flats/modals/modal_confirmation', candidate: candidate, flat: @flat %>

                </div>
              </div>
            </div>
          <% end %>

          <% @candidates_reservations_pending_not_conform.each do |candidate| %>

            <div class="col-xs-12 col-sm-3">
                <!-- insert <div class="card"> -->
              <div class="card-tenant text-center">

                <%= image_tag set_user_photo(candidate), class: "card-tenant-avatar avatar-large-bordered" %>

                <div class="card-tenant-description text-center">
                  <h2><%= render 'flats/grade', user: candidate, flat: @flat %></h2>

                  <span class="label label-danger">Profil non conforme à vos exigences !</span>

                  <% if !candidate.slots.where(flat: @flat).nil? && candidate.slots.where(flat: @flat).first.starts_at - Time.now > 0 %>
                    <span class="label label-warning">Visite à venir !</span>
                  <% elsif !candidate.slots.where(flat: @flat).nil? && candidate.slots.where(flat: @flat).first.starts_at - Time.now <= 0 %>
                    <span class="label label-success">Visite effectué !</span>
                  <% else %>
                    <span class="label label-danger">Aucune visite prévue !</span>
                  <% end %>

                  <% if candidate.bookings.where(flat: @flat).first.nil? %>
                    <span class="label label-warning">Dossier non deposé !</span>
                  <% else %>
                    <span class="label label-success">Dossier deposé !</span>
                  <% end %>

                  <h2><%= set_fullname(candidate) %></h2>

                  <ul class="list-inline">
                    <li><i class="fa fa-phone" aria-hidden="true"></i></li>
                    <li><%= candidate.phone_number %></li>
                  </ul>
                  <ul class="list-inline">
                    <li>Visite: <%= candidate.slots.where(flat: @flat).first.starts_at.strftime("%d/%m/%Y %H:%M")%></li>
                  </ul>
                  <a class="btn btn-primary" data-toggle="modal" data-target="#modal-profile-<%= candidate.id %>">Voir</a>

                  <%= render 'flats/modals/modal_profile', candidate: candidate, flat: @flat %>
                  <%= render 'flats/modals/modal_confirmation', candidate: candidate, flat: @flat %>

                </div>
              </div>
            </div>
          <% end %>


      <% end %>
    </div>
  </div>
<% end %>
